    <form method="post" (ngSubmit)="login()">
        <div class="form-group">
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" [(ngModel)]="email" placeholder="Enter email" required="">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div> <br>
        <div class="form-group">
          <input type="password" class="form-control" id="email" [(ngModel)]="password" placeholder="Password" required="">
        </div> <br>
        <button type="submit" class="btn btn-primary mx-auto">Login</button>
        @if (this.anyError) {
          <small>Please enter your email and password. Thank you.</small>
        }
    </form> 